<center>
  <div class="background-imag">
  &nbsp
  <center id="icon"><a href = "/"><img src="/assets/Half-Life-logotype-1024x819.png" width="250px"></a></center>
  	<!-- <div class="next"> -->
  		<div class="all-text">

  			<!-- <div class="tint"> -->

  				<!-- <div class="function"> -->

  					<p>
  						<h1>half link. half every url link.</h1>
  					</p>
  					<p>
  					&nbsp
  						<h5>Done </h5>
  					</p>
            <div class="show">
              Short Url: <a href="<%=@url_long.long_url%>">http://HalfLink.io/<%= @url_short.short_url%></a>
             <br>
             <br>
              Long Url: <%= @url_long.long_url%>

            </div>
            <a href="/#">Back</a>  
</center>
